PORT=5000
NODE_ENV=development
MONGODB_URI=mongodb+srv://freshjosh02_db_user:Tw4ZhhL0cKFkkWqe@cluster0.4ustdal.mongodb.net/wms?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=wms_super_secret_jwt_key_freshjosh_2024_production
CLIENT_URL=http://localhost:3000